body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
}

body.loading > * {
  display: none;
}

body.loading > #loading {
  display: block;
}

#loading {
  font-size: 1.4em;
  font-weight: 300;
  display: none;
}

#heading {
  font-size: 1.3em;
  font-weight: normal;
  padding: 0;
  margin: 10px 0 0 0;
}

#draw-cell {
  background-color: #f0f0f0;
  width: 120px;
  height: 120px;
  margin: 10px 0;
  border-radius: 3px;
}

#labeling {
  display: inline-block;
  padding: 7px 0;
  border-radius: 3px;
  background-color: #f0f0f0;
  box-sizing: border-box;
  width: 120px;
}

#labeling::before {
  content: 'Result: ';
  font-weight: bold;
}

#labeling.hidden {
  display: none;
}

#clear-button {
  padding: 7px 20px;
  background-color: #65bcd4;
  font-weight: normal;
  font-size: 1.1em;
  border: none;
  color: white;
  border-radius: 3px;
  margin: 10px 0 0 0;
}

#clear-button:focus {
  outline: 0;
}

#clear-button:hover {
  cursor: pointer;
  background-color: #3297b3;
}

#classifier-picker {
  margin-top: 15px;
}

#classifier-picker > label {
  font-size: 17px;
}
